.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(0,0,0,.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1000;
}

.App-link {
  color: #61dafb;
}

.foodFilter {
  padding: 10px;
}

.foodFilter.selected {
  background-color: rgba(255,255,0,.5);
}

.imgContiner {
  /* width: 45%;
  width: auto; */
  /* height: 40px;  */
}
.flexibleImg{
  max-width: 100%;
  image-rendering: auto;
  border-radius: 40px;
}

.details {
  background-color: white;
  font-size: calc(10px + 2vmin);
  position: absolute;
  right: 10px;
  top: 10px;
  height: 35vh;
  width: 300px;
  z-index: 1000;
  border-radius: 10px;
}

.details-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-header{
  width: 100%;
  height: 200px;
  background-size: cover;
}

hr {
  width: 100%;
  margin: 10px;
}

.business-name{
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0.5em;
}

.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
